/*###############################
## Helper for hide text into file
##################################*/
@mixin hide( $display: block ) {
	display: $display;
  overflow: hidden;
  text-align: left;
	text-indent: -9999em;
  text-transform: uppercase;
}
