/*
 * drupal variable
**/

/* views =========================================================================================*/
$view-border: 1px solid #969696;
$viewrow-padding: 10px 0;
$viewrow-margin: 0;


/* navigation and menu ===========================================================================*/

/* padding */
$main-nava-padding: 7px 10px;
/* color */
$main-nava-color: #fff;
$main-nava-color-hover: #000;
/* background-color */
$main-nav-bg : #4A4A4A;
$main-nava-bgc: transparent;
$main-nava-bgc-hover: #E7E7E7;

