/*
 * table variable
**/

/* ============ default value */

/* border */
$table-border-type: collapse;
$table-border: solid 1px #CCCCCC;
$th-border: solid 1px #CCCCCC;
$td-border: solid 1px #CCCCCC;

/* spacing */
$th-spaceing: 10px;
$td-spaceing: 10px;


/* color */
$td-bcolor: #F2F2F2;
$th-bcolor: #F2F2F2;
