/*
 * fonts file variable
 * /



/* base font for pre, code , samp , tt and var */
$base_font_pre : 'DejaVu Sans Mono', 'Courier New', monospace;

/* fonr for textarea */
$text_area_font : Verdana,Geneva,sans-serif;

/* link-color */
$defaukt-link-color : #0000EE;
$default-link-hover-color : #0000EE;
