/* 
 * form variable
**/


$disable-color: #b3b3b3;
$disable-bgc: #F9F9F9;

$fieldset-border: solid 1px #cccccc;
$legend-border: solid 1px #cccccc;

$fieldset-padding: 10px;
$legend-padding: 2px 5px;
